@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Photo Sharing</h1>
    <p class="lead">La idea es una app para compartir fotos y añadirle mas funcionalidades.</p>
    <p><a href="https://dev.azure.com/ForMango/_git/PhotoSharing" class="btn btn-primary btn-lg">Ver repositorio &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Primera fase</h2>
        <p>
            Aqui voy a detallar lo que hare en cada fase del proyecto
        </p>
        <p><a class="btn btn-default" href="http://">Link a documentacion &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>segunda fase</h2>
        <p>
            Aqui voy a detallar lo que hare en cada fase del proyecto
        </p>
        <p><a class="btn btn-default" href="http://">Link a documentacion &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>tercera fase</h2>
        <p>
            Aqui voy a detallar lo que hare en cada fase del proyecto
        </p>
        <p><a class="btn btn-default" href="http://">Link a documentacion &raquo;</a></p>
    </div>
</div>