@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Photo Sharing</h1>
    <p class="lead">La idea es una app para compartir fotos y añadirle mas funcionalidades.</p>
    <p><a href="https://dev.azure.com/ForMango/_git/PhotoSharing" class="btn btn-primary btn-lg">Ver repositorio &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Primera fase</h2>
        <p>La primera fase se divide en:</p>
        <ul>
            <li><p>Crear API</p></li>
            <li><p>Crear web</p></li>
            <li><p>Crear DB</p></li>

        </ul>
        
        <p><a class="btn btn-default" >OK &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>segunda fase</h2>
        <p>La segunda fase se divide en:</p>
        <ul>
            <li><p>Dockerizar App</p></li>
            <li><p>Utilizar App Service en Azure</p></li>
            <li><p>Crear DB en Azure</p></li>
            <li><p>Montar Api en Azure</p></li>

        </ul>
        
        <p><a class="btn btn-default" >IN PROGRESS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>tercera fase</h2>
        <p>La tercera fase se divide en: </p>
        <ul>

            <li><p>Utilizar Cognitive Service Azure</p></li>
            <li><p>Crear Domain model</p></li>
        </ul>
        <p><a class="btn btn-default" >TODO &raquo;</a></p>
    </div>
</div>